TAAAAC_CORE_URL=https://taaaac.eu
BACKUPLY_SECRET_TOKEN=taaaac-backuply-secure-token
BACKUPLY_STORAGE_PATH=/backups
PORT=3000
TZ=Europe/Rome

# Opzionali (configurabili anche da Web UI):
# BACKUPLY_AUTO_BACKUP=true
# BACKUPLY_BACKUP_TIME="03:00"
# TELEGRAM_BOT_TOKEN="123456789:ABCdefGhIjkLmNoPqRsTuVwXyZ"
# TELEGRAM_CHAT_ID="12345678"

